body {
  font-family: 'Libre Franklin', sans-serif;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Eczar', serif;
}

* {
  color: white;
}

.textPath {
  font-size: 6px;
  color: white; 
  font-family: 'Libre Franklin', sans-serif;
}